<div class="page-header">
  <h1><%= @author.firstName %> <%= @author.lastName %></h1>
</div>

<dl class="dl-horizontal">

  <dt>First Name</dt>
  <dd><%= @author.firstName %></dd>


  <dt>Last Name</dt>
  <dd><%= @author.lastName %></dd>


  <dt>Short Bio</dt>
  <dd><%= @author.shortBio %></dd>


</dl>
