<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Edit Review #<%= @review.id %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_review/<%= @review.id %>" class="form-horizontal">

      <!-- Label and input for book_id -->
      <div class="form-group">

        <label for="book_id" class="col-sm-2 control-label">
          Book
        </label>
        <div class="col-sm-10">

          <input type="text" id="book_id" name="book_id" placeholder="Book" class="form-control" value="<%= @review.book_id %>">

        </div>

      </div>


      <!-- Label and input for user_id -->
      <div class="form-group">

        <label for="user_id" class="col-sm-2 control-label">
          User
        </label>
        <div class="col-sm-10">

          <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @review.user_id %>">

        </div>

      </div>


      <!-- Label and input for summary -->
      <div class="form-group">

        <label for="summary" class="col-sm-2 control-label">
          Summary
        </label>
        <div class="col-sm-10">

          <input type="text" id="summary" name="summary" placeholder="Summary" class="form-control" value="<%= @review.summary %>">

        </div>

      </div>


      <!-- Label and input for fullReview -->
      <div class="form-group">

        <label for="fullReview" class="col-sm-2 control-label">
          Fullreview
        </label>
        <div class="col-sm-10">

          <input type="text" id="fullReview" name="fullReview" placeholder="Fullreview" class="form-control" value="<%= @review.fullReview %>">

        </div>

      </div>


      <!-- Label and input for startDate -->
      <div class="form-group">

        <label for="startDate" class="col-sm-2 control-label">
          Startdate
        </label>
        <div class="col-sm-10">

          <input type="text" id="startDate" name="startDate" placeholder="Startdate" class="form-control" value="<%= @review.startDate %>">

        </div>

      </div>


      <!-- Label and input for endDate -->
      <div class="form-group">

        <label for="endDate" class="col-sm-2 control-label">
          Enddate
        </label>
        <div class="col-sm-10">

          <input type="text" id="endDate" name="endDate" placeholder="Enddate" class="form-control" value="<%= @review.endDate %>">

        </div>

      </div>


      <!-- Label and input for enlightenmentRating -->
      <div class="form-group">

        <label for="enlightenmentRating" class="col-sm-2 control-label">
          Enlightenmentrating
        </label>
        <div class="col-sm-10">

          <input type="text" id="enlightenmentRating" name="enlightenmentRating" placeholder="Enlightenmentrating" class="form-control" value="<%= @review.enlightenmentRating %>">

        </div>

      </div>


      <!-- Label and input for enjoymentRating -->
      <div class="form-group">

        <label for="enjoymentRating" class="col-sm-2 control-label">
          Enjoymentrating
        </label>
        <div class="col-sm-10">

          <input type="text" id="enjoymentRating" name="enjoymentRating" placeholder="Enjoymentrating" class="form-control" value="<%= @review.enjoymentRating %>">

        </div>

      </div>


      <!-- Label and input for overallRating -->
      <div class="form-group">

        <label for="overallRating" class="col-sm-2 control-label">
          Overallrating
        </label>
        <div class="col-sm-10">

          <input type="text" id="overallRating" name="overallRating" placeholder="Overallrating" class="form-control" value="<%= @review.overallRating %>">

        </div>

      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Update Review" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Review #<%= @review.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_review/<%= @review.id %>" class="form-horizontal">

          <!-- Label and input for book_id -->
          <div class="form-group">

            <label for="book_id" class="col-sm-2 control-label">
              Book
            </label>
            <div class="col-sm-10">

              <input type="text" id="book_id" name="book_id" placeholder="Book" class="form-control" value="<%= @review.book_id %>">

            </div>

          </div>


          <!-- Label and input for user_id -->
          <div class="form-group">

            <label for="user_id" class="col-sm-2 control-label">
              User
            </label>
            <div class="col-sm-10">

              <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @review.user_id %>">

            </div>

          </div>


          <!-- Label and input for summary -->
          <div class="form-group">

            <label for="summary" class="col-sm-2 control-label">
              Summary
            </label>
            <div class="col-sm-10">

              <input type="text" id="summary" name="summary" placeholder="Summary" class="form-control" value="<%= @review.summary %>">

            </div>

          </div>


          <!-- Label and input for fullReview -->
          <div class="form-group">

            <label for="fullReview" class="col-sm-2 control-label">
              Fullreview
            </label>
            <div class="col-sm-10">

              <input type="text" id="fullReview" name="fullReview" placeholder="Fullreview" class="form-control" value="<%= @review.fullReview %>">

            </div>

          </div>


          <!-- Label and input for startDate -->
          <div class="form-group">

            <label for="startDate" class="col-sm-2 control-label">
              Startdate
            </label>
            <div class="col-sm-10">

              <input type="text" id="startDate" name="startDate" placeholder="Startdate" class="form-control" value="<%= @review.startDate %>">

            </div>

          </div>


          <!-- Label and input for endDate -->
          <div class="form-group">

            <label for="endDate" class="col-sm-2 control-label">
              Enddate
            </label>
            <div class="col-sm-10">

              <input type="text" id="endDate" name="endDate" placeholder="Enddate" class="form-control" value="<%= @review.endDate %>">

            </div>

          </div>


          <!-- Label and input for enlightenmentRating -->
          <div class="form-group">

            <label for="enlightenmentRating" class="col-sm-2 control-label">
              Enlightenmentrating
            </label>
            <div class="col-sm-10">

              <input type="text" id="enlightenmentRating" name="enlightenmentRating" placeholder="Enlightenmentrating" class="form-control" value="<%= @review.enlightenmentRating %>">

            </div>

          </div>


          <!-- Label and input for enjoymentRating -->
          <div class="form-group">

            <label for="enjoymentRating" class="col-sm-2 control-label">
              Enjoymentrating
            </label>
            <div class="col-sm-10">

              <input type="text" id="enjoymentRating" name="enjoymentRating" placeholder="Enjoymentrating" class="form-control" value="<%= @review.enjoymentRating %>">

            </div>

          </div>


          <!-- Label and input for overallRating -->
          <div class="form-group">

            <label for="overallRating" class="col-sm-2 control-label">
              Overallrating
            </label>
            <div class="col-sm-10">

              <input type="text" id="overallRating" name="overallRating" placeholder="Overallrating" class="form-control" value="<%= @review.overallRating %>">

            </div>

          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Update Review" class="btn btn-primary">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
