<div class="page-header">
  <h1>Review #<%= @review.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Book</dt>
  <dd><%= @review.book_id %></dd>


  <dt>User</dt>
  <dd><%= @review.user_id %></dd>


  <dt>Summary</dt>
  <dd><%= @review.summary %></dd>


  <dt>Fullreview</dt>
  <dd><%= @review.fullReview %></dd>


  <dt>Startdate</dt>
  <dd><%= @review.startDate %></dd>


  <dt>Enddate</dt>
  <dd><%= @review.endDate %></dd>


  <dt>Enlightenmentrating</dt>
  <dd><%= @review.enlightenmentRating %></dd>


  <dt>Enjoymentrating</dt>
  <dd><%= @review.enjoymentRating %></dd>


  <dt>Overallrating</dt>
  <dd><%= @review.overallRating %></dd>


</dl>
