<div class="page-header">
  <h1>Review #<%= @review.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Book</dt>
  <dd><%= @review.book_id %></dd>


  <dt>User</dt>
  <dd><%= @review.user_id %></dd>


  <dt>Summary</dt>
  <dd><%= @review.summary %></dd>


  <dt>Full Review</dt>
  <dd><%= @review.fullReview %></dd>


  <dt>Start Date</dt>
  <dd><%= @review.startDate %></dd>


  <dt>End Date</dt>
  <dd><%= @review.endDate %></dd>


  <dt>Enlightenment Rating</dt>
  <dd><%= @review.enlightenmentRating %></dd>


  <dt>Enjoyment Rating</dt>
  <dd><%= @review.enjoymentRating %></dd>


  <dt>Overall Rating</dt>
  <dd><%= @review.overallRating %></dd>


</dl>
